/*  */
ol, ul {
  list-style: none;
  padding-inline-start:0;
}

button {
  padding:0;
}

body {
  margin: 0;
}

/* Board */

.row{
  display:flex;
}

.cell {
  fill: #fff;
  stroke: #000;
}

.cell-black {
  fill:#000;
}

.cell-highlighted {
  fill:#a7d8ff;
}

.cell-selected {
  fill:#ffda00;
}

.cell-black-selected {
  fill:#8b770f;
}

/* Layout */
.layout {
  width:100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: space-around;
  margin: auto;
  padding-top: 2em;
  max-width: 1132px;
  max-height: 660px;
  display: flex;
}

.layout-left {
  height: 100%;
  width: 48%;
  position: relative;
}

.layout-right {
  max-height: 625px;
  height: 100%;
  width: 48%;
}

@media (max-width: 960px){
  .layout-right {
      width: 100%;
  }

  .layout-left {
    width: 100%;
  }

  .layout {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
}

.puzzle__loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 67px);
  left: 0;
  top: 0;
}

/* Topbar */

.topbar {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-width: 1px 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1px;
}

.topbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
  font-size: 2em;
}

.topbar-wordmark {
  height: 30px
}

.topbar-tools {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1605px;
  margin-right: 1em;
}

.topbar-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  height: 45px;
  outline: none;
  text-transform: capitalize;
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;

}

.topbar-button {
  color: #4f85e5;
  width: 5em;
  height: 100%;
  border: 0;
}

.topbar-button:hover{
  color: #000;
  background-color: #e6e6e6;
}

/* Topbar Menu */
.topbar-menu{
  border: 1px solid #e6e6e6;
  position: absolute;
  top: 45px;
  right:0px;
  display: flex;
  flex-direction: column;
  min-width: 10em;
  max-height: 50vh;
  max-width: 30em;
  overflow: auto;
  z-index: 1;
}

.topbar-menu-item {
  background-color: #fff;
    box-sizing: border-box;
    color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: .8em;
    line-height: 1.2em;
    height: 4em;
    min-width: 100%;
    padding: 1em .5em;
    text-decoration: none;
    white-space: nowrap;
    border:none;
    padding: 0 1em;
}

.topbar-menu-item:hover {
  background-color: #e6e6e6;
}

.topbar-menu-item-active {
  background-color: #a7d8ff;
}

.topbar-button-active{
  background-color: #e6e6e6;
}

.topbar-button-active:hover{
  color: #000;
}

/* Puzzle Header */

.puzzle-header {
  align-items: baseline;
  display: flex;
  font-size: 1.2em;
  min-height: 60px;
}

.puzzle-header-title {
  font-size: 2em;
  margin-right: .5em;
}

.puzzle-header-by{
  font-weight: bold;
}

/* Clue Bar */
.cluebar {
  background: #dcefff;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cluebar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-right: 20px;
}

.cluebar-number {
  font-weight: 700;
  min-width: 60px;
  text-align: center;
  width: 60px;
}

.cluebar-text {
  padding-right: 10px;
  line-height: 23px;
}

.cluebar-clue {
  display: flex;
}

/* Word Selector */
.word-selector {
  border-top: 1px solid #959595;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 10em;
  overflow-y: scroll;
}

.word-selector-attribution{
  font-style: italic;
  font-size: 0.5em;
  margin-bottom: 1em; 
}

.word-selector-words{
  display: flex;
  flex-wrap: wrap;
}

.word-selector-word{
  width: 33%;
}

@media (max-width: 960px){
  .word-selector-word {
    width: 50%;
  }
}

/* Clue List */
.cluelists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: calc(100% - 75px);
}

.cluelist {
  margin-bottom: 10px;
  width: 45%;
  height: 100%;
}



@media (max-width: 960px) {
  .cluelists {
    height: auto;

  }

  .cluelist {
      margin-bottom: 10px;
      width: 100%;
      height: calc(50% - 10px);
  }
}

.cluelist-title{
  border-bottom: 1px solid #e6e6e6;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  margin: 0;
  padding: 0
}

.cluelist-list{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: calc(100% - 40px);
}

.clue {
  border-left: 10px solid transparent;
  cursor: pointer;
  padding: .5em .5em;
    font:inherit;
    box-sizing: border-box;
    color: #444;
    display: flex;
    align-items: center;
    line-height: 1.2em;
    min-width: 100%;
    text-decoration: none;
    white-space: nowrap;
    border:none;
}

.clue-label {
  font-weight: 700;
  margin-right: 5px;
  text-align: right;
  min-width: 24px;
  width: 24px;
}

.clue-text {
  line-height: 1.4;
  margin-left: 5px;
  margin-right: 5px;
}

.clue-text-cluenum{
  font-weight: bold;
}

.clue-selected {
  background-color: #a7d8ff;
}

.clue-highlighted {
  border-left-color: #a7d8ff;
}

/** @define modal */

.modal {
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__blur{
  background-color: #fafafa;
  opacity: .86;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  filter: blur(2px);
}

.modal__contents {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 12px -1px rgba(0,0,0,.3);
  box-sizing: border-box;
  max-height: 95%;
  max-width: 500px;
  min-width: 400px;
  outline: none;
  padding: 2% 2% 2% 2%;
  pointer-events: visible;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.modal__button {
  background-color: #4f85e5;
  color:white;
  font-weight: bold;
  width: 100%;
  max-width: 167px;
  min-height: 34px;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center
}

/* Puzzle Selector */
.puzzle-selector{
  height:10em;
  overflow-y: scroll;
  text-align: left;
  margin-bottom:2em;
  width: 100%
}

.puzzle-selector-item{
  display:flex;
  justify-content: space-between;
  padding:.5em;
  font-size: 1em;
  cursor: pointer;
  border: 0;
  width: 100%;
}

.puzzle-selector-item:hover{
  background-color: #e6e6e6
}

.puzzle-selector-item-active{
  background-color: #e6e6e6
}

/* rebus */
.rebus {
  border: 3px solid #ffda00;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
}